/* Abous Us */
h1 {
  font-size: 48px;
  font-family: "Poppins";
  text-align: center;
}

/* Club's Statement */
h4 {
  font-size: 16px;
  font-family: "Poppins";
  text-align: center;
}

/* What We Provide + Where We Meet */
h2 {
  font-size: 20px;
  font-family: "Poppins";
  text-align: left;
}

/* Elevator + Stairs */
h5 {
  font-size: 16px;
  font-family: "Poppins";
  text-align: left;
}

/* Paragraph Texts */
p {
  font-size: 16px;
  font-family: "Poppins";
}

/* Gradient background color */
.info-section {
  background: linear-gradient(
    180deg,
    #003e82 0%,
    rgba(51, 124, 207, 0.62) 76.7%,
    rgba(51, 124, 207, 0) 99.98%,
    rgba(51, 124, 207, 0) 99.99%
  );
}
