/* For Body Part */
body {
  /* Make the whole page margin 0 */
  margin: 0;
}

/* About Us Title */
.about-us-title {
  /* About Us Page Title */
  font-size: 96px;
  font-family: sans-serif;
  text-align: center;
  color: #fff;

  /* Background Image */
  background-image: url("../img/web_banner_big_bg.png");
  background-size: cover;
  background-position: center;
}
