.jumbotron {
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
	background-image: url(../img/sjsu.jpg);
	background-position: 50% 15%;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.navbar {
	background-color: rgba(34, 34, 34, 0.5);
	border-color: rgba(34, 34, 34, 0.5);
    border-radius: 0px;
    margin-bottom: 5em;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fbc000;
    /*color: black;*/
}

.btn-default {
    background-color: #222222;
    border-color: #222222;
    border-radius: 15px;
}

.navbar-brand {
	padding: 0px;
}

.navbar-brand img {
	width: 180px;
}

.blue {
	color: #435de9;
}

.yellow {
	color: #fbc000;	
}

/*Body of Event page*/
.body .calendar {
	text-align: center;

	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.calendar iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.body .event {
	margin-bottom: 8em;
}

.body .row {
	border: solid #fbc000;
	background-color: #222222;
	margin-top: 100px;
	margin-bottom: 50px;
	padding: 50px;
}

.image-side img {
	width: 90%;
	height: auto;
}

.text-side h3 {
	margin:5px 0;
	/* text-decoration: underline; */
	color: #2DA8D8;
	font-weight: bold;
}

.text-side h2 {
	margin-top: 15px;
	margin-bottom: 0;
	color: #fbc000;
	font-weight: bold;
}

.body p {
	font-size: 20px;
	color: rgb(240,240,240);
}

.body span {
	font-size: 20px;
	color: #fbc000;
	font-weight: bold;
}

.body span b {
	color: #2DA8D8;
}

.body span a {
	text-decoration: underline;
}

.body span a:hover {
	text-decoration: none;
	font-style: italic;
}

/*For Carousell*/
/*.body .row {
	padding: 1em;
	margin-top: 4em;
	margin-bottom: 4em;
	background-color: rgba(248,240,198,0.6);
}

.body h3 {
	margin-bottom: 0;
	color: #435de9;
}

.body p {
	font-size: 18px;
	line-height: 22px;
	color: #222222;
}

.body .col-sm-4 {
	height: 240px;
	max-height: auto;
}*/

/*End of Event Page*/
.end {
	background-color: #17256a;
}

.end-text {
	font-size: 16px;
	text-align: center;
	color: white;
	margin-top: 5px;
	margin-bottom: auto;
}

.end-text a {
	color: #fee601;
}

.end-text a:hover {
	color: red;
}

.end-media {
	text-align: center;
}

/*When the browser window is 600px wide or less, do this*/
@media only screen and (max-width: 600px) {
	.jumbotron .container{
		visibility: hidden;
	}

	.jumbotron {
		background-size: 150% auto;
	}

	.btn-default {
	    background-color: rgba(0,0,0,0);
	    border-color: #222222;
	    text-align: right; 
	}

	.text-side h1 {
		font-size: 30px;
	}

	.body p {
		font-size: 16px;
	}

	.body span {
		font-size: 16px;
	}
}

@media only screen and (max-width: 767px) {
	.navbar-brand img {
		width: 130px;
	}	
}