.jumbotron {
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
	/*background-color: #222222;*/
	/*background-color: black;*/
	background-image: url(../img/sjsu.jpg);
	background-position: 50% 15%;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.jumbotron > .navbar {
	background-color: rgba(34, 34, 34, 0.5);
	/*border-color: #222222;*/
	border-color: rgba(34, 34, 34, 0.5);
    border-radius: 0px;
    margin-bottom: 5em;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fbc000;
    /*color: black;*/
}

.affix {
	top: 0;
	width: 100%;
	z-index: 9999 !important;
}

.affix + .container-fluid {
	padding-top: 70px;
}

.btn-default {
    background-color: #222222;
    border-color: #222222;
    border-radius: 15px;
}

.navbar-brand {
	padding: 0px;
}

.blue {
	color: #435de9;
}

.yellow {
	color: #fbc000;	
	/*color: #eab421;*/
	/*color: #fee601;*/
}

/*Body of Event page*/
.body .container {
	margin-bottom: 5em;
}

.body h2 {
	text-align: center;
	color: #435de9;
	border-bottom: solid #eab421;
}

.body .row {
	padding: 1em;
	margin-top: 4em;
	margin-bottom: 4em;
	/*background-color: rgba(234,180,33,0.5);*/
	/*background-color: rgba(67,93,233,1);*/
	background-color: rgba(248,240,198,0.6);
}

.body h3 {
	margin-bottom: 0;
	color: #435de9;
}

.body p {
	font-size: 18px;
	line-height: 22px;
	color: #222222;
}

.body .col-sm-4 {
	height: 240px;
	max-height: auto;
}

/*End of Event Page*/
.end {
	background-color: #17256a;
}

.end-text {
	font-size: 16px;
	text-align: center;
	color: white;
	margin-top: 5px;
	margin-bottom: auto;
}

.end-text a {
	color: #fee601;
}

.end-media {
	text-align: center;
}