.jumbotron.main {
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
	background-image: url(../img/events/jam2020/jam2020.png);
	background-position: 50% 15%;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.navbar {
	background-color: rgba(34, 34, 34, 0.5);
	border-color: rgba(34, 34, 34, 0.5);
    border-radius: 0px;
    margin-bottom: 5em;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fbc000;
	/*color: black;*/
}

.btn-default {
    background-color: #222222;
    border-color: #222222;
    border-radius: 15px;
}

.navbar-brand {
	padding: 0px;
}

.navbar-brand img {
	width: 180px;
}

/*Intro of About Page*/
.intro .container {
	margin-bottom: 5em;
}

.intro_blocks {
	margin-bottom: 5em;
}

.intro p {
	color: black;
	font-size: 18px;
}

.blue {
	color: #435de9;
}

.yellow {
	/*color: #fbc000;*/	
	color: #eab421;
}

/*Location of ABout Page*/
.location {
	text-align: center;
	font-size: 18px;
	margin-bottom: 8em;
}

.location img {
	width: auto;
	height: 400px;
}

.important {
	background-color: #FF4F58;
	color: white;
	padding: 10px;
	border: solid black;
}

.important h3 {
	margin: 0;
}

.location del {
	text-decoration: line-through;
	text-decoration-color: red;
}

/*Code of Code of About Page*/
.code_of_conduct div {
	color: #435de9;
	width: 50%;
	margin: auto;
	padding: 0;
	border-left: solid #eab421;
	border-right: solid #eab421;
	border-width: 5px;
}

.code_of_conduct h2 {
	/*text-decoration: underline;*/
}

.code_of_conduct a:hover {
	font-style: italic;
}


/*Body of About Page*/
.body {
	background-image: url(../img/logo_icon.png), url(../img/logo_icon.png);
	background-repeat: repeat-x, repeat-y;
	background-color: #222222;
	background-size: 5% auto;
	background-position: 15% 15%;
}

.body .container {
	margin-top: 5em;
	margin-bottom: 3em;
}

.body_title {
	text-align: center;
	color: #eab421;
	padding: 5px;
	margin-bottom: 100px;
	border: solid #eab421;
	/*background-color: #435de9;*/
	/*background-color: #17256a;*/
	background-color: darkblue;
	border-radius: 20px;
}

.body .row {
	margin-bottom: 100px;
}

.officer_content {
	margin: auto 12%;
}

.officer_content img {
	border-radius: 10px;
}

.officer_text {
	/*background-color: black;*/
	/*background-color: #fee601;*/
}

.answers h2 {
	color: #435de9;
	margin-bottom: 5px;
}

.officer_text h3 {
	/*background-color: rgba(0,0,0,0.4);*/
	margin-top: 5px;
	margin-bottom: 0;
	color: #435de9;
}

.officer_text p {
	font-size: 16px;
	line-height: 20px;
	/*color: #222222;*/
	color: white;
}

li
{
	font-size: large;
}

/*End of About Page*/
.end {
	background-color: #17256a;
}

.end-text {
	font-size: 16px;
	text-align: center;
	color: white;
	margin-top: 5px;
	margin-bottom: auto;
}

.end-text a {
	color: #fee601;
}

.end-text a:hover {
	color: red;
}

.end-media {
	text-align: center;
}

/*When the browser window is 900px wide or less, do this*/
@media only screen and (max-width: 900px) {
	.location img {
		width: 350px;
		height: auto;
	}

	.code_of_conduct iframe{
		width: 340px;
		height: 500px;
		border: solid #222222;
	}

	.body .row {
		margin-top: 0;
		margin-bottom: 0;
	}

	.body .col-sm-4{
		margin-bottom: 5em;
	}
}

/*When the browser window is 600px wide or less, do this*/
@media only screen and (max-width: 600px) {
	.jumbotron .container{
		visibility: hidden;
	}

	.jumbotron {
		background-size: 150% auto;
	}

	.btn-default {
	    background-color: rgba(0,0,0,0);
	    border-color: #222222;
	    text-align: right; 
	}

	.code_of_conduct div {
		width: 65%;
	}
}

@media only screen and (max-width: 767px) {
	.navbar-brand img {
		width: 130px;
	}	
}