.jumbotron {
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
	background-image: url(../img/web_banner_bg.png);
	background-position: 50% 10%;
	background-repeat: no-repeat;
	background-size: auto 100%;
	/* background-position-y: ; */
}

.navbar {
	background-color: #003E82;
	font-family: Poppins, sans-serif;
	border-color: rgba(34, 34, 34, 0.5);
    border-radius: 0px;
	margin-bottom: 0;
}

/* .navbar-inverse */ .navbar-nav>li>a { 
    color: #ffffff;
	text-shadow: 3px 3px 3px#222222;
}

.navbar-brand {
	padding: 0px;
}

.navbar-brand img {
	width: 180px;
}

.btn-default {
    background-color: #222222;
    border-color: #222222;
    border-radius: 15px;
}

/*Intro of Index Page*/
.content_extend {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

.intro {
	/* background-image: url(../img/mascot_bg.png); */
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 50% 50%;
	margin-bottom: 10em;
	/*background-color: #17256a;*/
}

.blue {
	color: #435de9;
}

.yellow {
	color: #fbc000;	
	/*color: #eab421;*/
}

.intro p {
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	padding: 0px 20px 20px;
	text-align: left;
}

del {
	text-decoration-color: red;
}

/*Body of Index Page*/
.body{
	background-color: #222222;
	background-image: url(../img/logo_icon.png), url(../img/logo_icon.png);
	background-repeat: repeat-x, repeat-y;
	background-size: 5% auto;
	background-position: 93% 101%;
}

.vid {
	margin-top: 5em;
	margin-bottom: 5em;
	text-align: center;

	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.vid iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.body .event {
	margin-bottom: 8em;
}

.body .row {
	border: solid #fbc000;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 50px;
}

.image-side img {
	width: 90%;
	height: auto;
}

.text-side h3 {
	margin:5px 0;
	/* text-decoration: underline; */
	color: #2DA8D8;
	font-weight: bold;
}

.text-side h2 {
	margin-top: 15px;
	margin-bottom: 0;
	color: #fbc000;
	font-weight: bold;
}

.body p {
	font-size: 20px;
	color: rgb(240,240,240);
}

.body span {
	font-size: 20px;
	color: #fbc000;
	font-weight: bold;
}

.body span b {
	color: #2DA8D8;
}

.body span a {
	text-decoration: underline;
}

.body span a:hover {
	text-decoration: none;
	font-style: italic;
}

/*Summer 2021*/
.workshop_introductions 
{
	font-size: large;
	color: white;
}

/*Feature Games Section */
.featured-title {
	text-align: center;
	/*padding: 25px 0px;*/
}
.featured-title h3 {
	margin: 5px 10px 15px;
	font-size: 30px;
	font-weight: bold;
	color: #2DA8D8;
}
.img-thumbnail{
	margin: 10px 0px;
	padding: 0px;
}
.card-body {
	box-shadow: 0 0 20px 7px rgba(0, 0,0, 0);
	text-align: left;
}
.card{
	margin: 20px 10px;
}

.col-sm-4 p1 {
	color: #fbc000;
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
}
.col-sm-4 p2 {
	font-size: 18px;
	color: white;
	
}
.col-sm-4 a {
	text-decoration: none;
}
.col-sm-4 a:hover {
	opacity: 0.7;
}
.card-body h5 {
	color: #2DA8D8;
	font-size: 20px;
	text-align: center;
	margin: 15px 15px;
	font-weight: bold;
}
/*Feature Games Section */

/*End of Index Page*/
.end {
	background-color: #17256a;
}

.end-text {
	font-size: 16px;
	text-align: center;
	color: white;
	margin-top: 5px;
	margin-bottom: auto;
}

.end-text a {
	color: #fee601;
}

.end-text a:hover {
	color: red;
}

.end-media {
	text-align: center;
}

/*When the browser window is 600px wide or less, do this*/
@media only screen and (max-width: 600px) {
	.jumbotron .container{
		visibility: hidden;
	}

	.jumbotron {
		background-position: 50% 30%;
		background-size: auto 100%;
	}

	.btn-default {
	    background-color: rgba(0,0,0,0);
	    border-color: #222222;
	    text-align: right; 
	}

	.text-side h1 {
		font-size: 30px;
	}

	.body p {
		font-size: 16px;
	}

	.body span {
		font-size: 16px;
	}
}

@media only screen and (max-width: 767px) {
	.navbar-brand img {
		width: 130px;
	}	
}