.jumbotron {
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
	/*background-color: #222222;*/
	/*background-color: black;*/
	background-image: url(../img/sjsu.jpg);
	background-position: 50% 30%;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.jumbotron > .navbar {
	background-color: rgba(34, 34, 34, 0.5);
	/*border-color: #222222;*/
	border-color: rgba(34, 34, 34, 0.5);
    border-radius: 0px;
    margin-bottom: 5em;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fbc000;
    /*color: black;*/
}

.affix {
	top: 0;
	width: 100%;
	z-index: 9999 !important;
}

.affix + .container-fluid {
	padding-top: 70px;
}

.btn-default {
    background-color: #222222;
    border-color: #222222;
    border-radius: 15px;
}

/*Intro of Index Page*/
.content_extend {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
}

.intro {
	background-image: url(../img/test4.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 50% 50%;
	margin-bottom: 10em;
	/*background-color: #17256a;*/
}

h1 {
	font-weight: bold;
	margin-bottom: 2em;
	/*color: #eab421;*/
	color: #435de9;
}

.blue {
	color: #435de9;
}

.yellow {
	color: #fbc000;	
	/*color: #eab421;*/
}

.intro p {
	font-size: 18px;
	padding: 0px 20px 20px;
}

del {
	text-decoration-color: red;
}

/*Body of Index Page*/
.body{
	background-color: #FF7F50;
	background-image: url(../img/logo_icon.png), url(../img/logo_icon.png);
	background-repeat: repeat-x, repeat-y;
	background-size: 5% auto;
	background-position: 93% 101%;
}

/*To all divs that are children of .body*/
.body > div {
	margin-top: 5em;
	margin-bottom: 5em;
	/*border-right: solid gold;*/
}

.body .row {
	background-color: rgba(255,255,255,0.6);
}

.body .image-side{
	background-color: #FF7F50;
}

/*If the screen is 600px or wider do this*/
@media screen and (min-width: 600px) {
	.center-image {
		/*display: block;*/
		/*margin: auto;*/
		float: right;
	}
}

.center-image {
	display: block;
	margin: auto;
	/*float: right;*/
}

.col-sm-6 {
	padding: 0;
}

.body-text {
	margin-left: 10px;
	margin-right: 10px;
}

.body h3 {
	margin-top: 10px;
	margin-bottom: 0em;
}

.body p {
	font-size: 18px;
	padding-top: 1em;
	color: #17256a;
}

/*End of Index Page*/
.end {
	background-color: #17256a;
}

.end-text {
	font-size: 16px;
	text-align: center;
	color: white;
	margin-top: 5px;
	margin-bottom: auto;
}

.end-text a {
	color: #fee601;
}

.end-text a:hover {
	color: red;
}

.end-media {
	text-align: center;
}