.jumbotron {
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
	background-image: url(../img/minecraft/craft_4.png);
	background-position: 50% 35%;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.navbar {
	background-color: rgba(34, 34, 34, 0.5);
	border-color: rgba(34, 34, 34, 0.5);
    border-radius: 0px;
    margin-bottom: 5em;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fbc000;
    /*color: black;*/
}

.btn-default {
    background-color: #222222;
    border-color: #222222;
    border-radius: 15px;
}

.navbar-brand {
	padding: 0px;
}

.navbar-brand img {
	width: 180px;
}

.blue {
	color: #435de9;
}

.yellow {
	color: #fbc000;	
}

/*Body of Event page*/
#spotlight {
	visibility: hidden;
	padding: 0;
	margin: 0;
	position: fixed;
	z-index: 100;
	top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}

#spotlight #spotlight_img {
	width: 80%;
	height: auto;
	top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
  	transform: translateY(8%);
}

.body .gallery {
	text-align: center;
	margin-bottom: 2em;
}

.body .gallery img{
	height: auto;
	width: 100%;
}

.body .gallery img:hover {
	cursor: pointer;
}

/*End of Event Page*/
.end {
	background-color: #17256a;
}

.end-text {
	font-size: 16px;
	text-align: center;
	color: white;
	margin-top: 5px;
	margin-bottom: auto;
}

.end-text a {
	color: #fee601;
}

.end-text a:hover {
	color: red;
}

.end-media {
	text-align: center;
}

/*When the browser window is 600px wide or less, do this*/
@media only screen and (max-width: 600px) {
	.jumbotron .container{
		visibility: hidden;
	}

	.jumbotron {
		background-size: 150% auto;
	}

	.btn-default {
	    background-color: rgba(0,0,0,0);
	    border-color: #222222;
	    text-align: right; 
	}

	.text-side h1 {
		font-size: 30px;
	}

	.body p {
		font-size: 16px;
	}

	.body span {
		font-size: 16px;
	}
}

@media only screen and (max-width: 767px) {
	.navbar-brand img {
		width: 130px;
	}	
}