.projectsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

.contactsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 28px;
}

th {
  text-align: left;
  text-transform: uppercase;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

table {
  border-collapse: collapse;
  width: 100%;
}