html {
  scroll-behavior: smooth;
}

.jumbotron {
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
	/*background-color: #222222;*/
	/*background-color: black;*/
	background-image: url(../img/sjsu.jpg);
	background-position: 50% 15%;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.jumbotron > .navbar {
	background-color: rgba(34, 34, 34, 0.5);
	/*border-color: #222222;*/
	border-color: rgba(34, 34, 34, 0.5);
    border-radius: 0px;
    margin-bottom: 5em;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fbc000;
    /*color: black;*/
}

.affix {
	top: 0;
	width: 100%;
	z-index: 9999 !important;
}

.affix + .container-fluid {
	padding-top: 70px;
}

.btn-default {
    background-color: #222222;
    border-color: #222222;
    border-radius: 15px;
}

.navbar-brand {
	padding: 0px;
}

.blue {
	color: #435de9;
}

.yellow {
	color: #fbc000;	
	/*color: #eab421;*/
	/*color: #fee601;*/
}

/*Body of Event page*/
.body h2 {
	/*color: #435de9;*/
	color: #fac000;
}

.questions {
	border-bottom: solid black; 
}

.questions ul {
	font-size: 20px;
	margin-bottom: 3em;
}

.questions ul a{
	/*color: #fac000;*/
	color: #435de9;
	/*color: #934c00;*/
}

.questions ul a:hover{
	color: black;
}

.answers {
	margin-bottom: 5em;
}

.answers div {
	margin-bottom: 5em;
}

.answers .toTop {
	font-size: 20px;
	color: #fac000;
}

.answers .toTop:hover {
	color: black;
}

.answers h3 {
	color: #435de9;
	margin-bottom: 5px;
}

.answers .text-box {
	font-size: 20px;
}

/*End of Event Page*/
.end {
	background-color: #17256a;
}

.end-text {
	font-size: 16px;
	text-align: center;
	color: white;
	margin-top: 5px;
	margin-bottom: auto;
}

.end-text a {
	color: #fee601;
}

.end-text a:hover {
	color: red;
}

.end-media {
	text-align: center;
}