/* Hero and Navbar */
.jumbotron {
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
	background-image: url(../img/about_page.png);
	background-position: 50% 15%;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.navbar-brand {
	padding: 0px;
}

.navbar-brand img {
	width: 180px;
}

.bg-dark {
    background-color: rgba(52, 58, 64, 0.5) !important;
}

.btn-dark {
    background-color: #222222;
    border-color: #222222;
    color: #fbc000 !important;
    border-radius: 15px;
}

.btn-dark:hover {
    background-color: rgba(52, 58, 64, 0.5);
    border-color: #fff;
}

/* .abs-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
} */

/* Body and content */
.page-section {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.blue-text {
    color: #435de9;
}

p, ul, ol {
    font-size: 18px;
    color: #222;
}

.img-container-center {
    text-align: center;
}

.img-container-center img {
    height: 100%;
    width: auto;
    max-height: 400px;
}

.vid-container-center {
	text-align: center;
}

.grey-background {
    background-color: #f8f9fa;
}

.sign-up-section {
    background-color: #eee;
    padding: 3rem 3.75rem;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    margin-top: 24px;
    padding-left: 12px;
    padding-right: 12px;
}

.card-link {
    text-decoration: underline;
}

/* .img-container-fit {
    width: 100%;
} */

.img-fluid {
    height: auto;
    max-width: 100%;
}

/* Footer */
.end {
	background-color: #17256a;
}

.end-text {
	font-size: 16px;
	text-align: center;
	color: white;
	margin-top: 5px;
	margin-bottom: auto;
}

.end-text a {
	color: #fee601;
}

.end-text a:hover {
	color: red;
}

.end-media {
	text-align: center;
    margin: 0;
}

/*When the browser window is 600px wide or less, do this*/
@media only screen and (max-width: 600px) {
    .btn-dark {
        text-align: right;
        padding-right: 15px !important;
        background-color: rgba(0,0,0,0);
        /* margin-top: 8px; */
        margin-bottom: 8px;
    }

    .vid-container-center {
        margin-top: 5em;
        margin-bottom: 5em;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }
    
    .vid-container-center iframe {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }

    .img-container-center img {
        height: auto;
        width: 100%;
        max-height: fit-content;
    }
}