/* Navbar container */
.container {
  padding: 0 1em;
  min-height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  text-transform: uppercase;
  gap: 10px 20px;
}

/* Tabs */
.tabs {
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 20px;
}

/* Large displays */
@media screen and (min-width: 540px) {

  /* Hide menu */
  .menu {
    display: none;
  }

  /* Show tabs */
  .tabs {
    display: flex;
  }
}

/* Small displays */
@media screen and (max-width: 540px) {

  /* Show menu */
  .menu {
    display: flex;
  }

  /* Hide tabs */
  .tabs {
    display: none;
  }
}