/* Links should be the same color regardless of state */
.container a, 
.container a:link, 
.container a:active {
  color: currentColor;
  text-decoration: none;
}

.container a {
  padding: 10px;
}

/* Navbar container */
.container {
  padding: 0 1.25em;
  min-height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  text-transform: uppercase;
  gap: 0px 24px
}

@media all and (max-width: 550px) {
  .container {
    flex-direction: column;
  }
}

/* Home button */
.home-button {
  display: flex;
  align-items: center;
  /* gap: 10px; */
  flex-wrap: nowrap;
}

.home-button img {
  max-height: 48px;
}

.home-button-text {
  text-transform: uppercase;
  font-family: 'Barlow Semi Condensed'; 
}

.home-button .main {
  font-size: 32px;
}

.home-button-text .sub {
  font-size: 16px;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 24px;
}

@media all and (max-width: 550px) {
  .tabs {
    flex-direction: column;
  }
}

.tab {
  display: flex;
  text-transform: uppercase;
  font-family: 'Barlow';
  font-weight: 600;
  font-size: 24px;
}

.tab-text {
  margin: auto 0px;
}

.active {
  border-top: 4px solid #00000000;
  border-bottom: 4px solid #fdcf0c;
  box-sizing: border-box;
}

@media all and (max-width: 550px) {
  .active {
    border-top: 0px;
    border-bottom: 0px;
    border-left: 4px solid #fdcf0c;
    border-right: 4px solid #00000000;
  }
}