/* Tab */
.tab {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--text-xlarge);

  /* Tags rely on anchor tags. We need to override some style properties. */
  color: currentColor;
  text-decoration: none;
  padding: 4px;
}

.tab img {
  max-height: 42px;
}

/* Animate menu tabs upon hover */
@keyframes tab-show-bottom-line {

  /* up */
  0% {
    border-top: 0px solid #00000000;
    border-bottom: 0px solid var(--secondary-color);
  }

  100% {
    border-top: 4px solid #00000000;
    border-bottom: 4px solid var(--secondary-color);
  }
}

@keyframes tab-hide-bottom-line {

  /* down */
  0% {
    border-top: 4px solid #00000000;
    border-bottom: 4px solid var(--secondary-color);
  }

  100% {
    border-top: 0px solid #00000000;
    border-bottom: 0px solid var(--secondary-color);
  }
}

@keyframes tab-show-left-line {

  /* right */
  0% {
    border-right: 0px solid #00000000;
    border-left: 0px solid var(--secondary-color);
  }

  100% {
    border-right: 4px solid #00000000;
    border-left: 4px solid var(--secondary-color);
  }
}

@keyframes tab-hide-left-line {

  /* left */
  0% {
    border-right: 4px solid #00000000;
    border-left: 4px solid var(--secondary-color);
  }

  100% {
    border-right: 0px solid #00000000;
    border-left: 0px solid var(--secondary-color);
  }
}

:not(.vertical).tab:hover, :not(.vertical).tab:focus{
  animation: ease-in-out tab-show-bottom-line 0.15s forwards;
}

:not(.vertical).tab:not(:hover):not(:focus) {
  animation: ease-out tab-hide-bottom-line 0.15s forwards;
}

/* Add persistent border to active tab */
:not(.vertical).tab.active {
  border-top: 4px solid #00000000 !important;
  border-bottom: 4px solid var(--secondary-color) !important;
  box-sizing: border-box;
}

/* Overrides for vertical tabs*/
.vertical.tab:hover, .vertical.tab:focus {
  animation: ease-in-out tab-show-left-line 0.15s forwards;
}

.vertical.tab:not(:hover):not(:focus) {
  animation: ease-out tab-hide-left-line 0.15s forwards;
}

.vertical.tab.active {
  border-right: 4px solid #00000000 !important;
  border-left: 4px solid var(--secondary-color) !important;
  box-sizing: border-box;
}