.container
{
  display: flex;  
  flex-direction: column;
  justify-content: center;
  word-spacing: 0.2em;
  row-gap: 16px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 14px;
}

.controls a {
  font-size: var(--text-small);
    padding: 2px 8px;
}