.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 32px;

  background-color: #0055a2;
  color: #fff;
  min-height: 36px;
  padding: 12px 12px;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  word-spacing: 0.2em;
  
  cursor: pointer;
}

.content {
  background-color: #e8e8e8;
  padding: 24px 12px;
}
