.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 28px;

  background-color: var(--primary-color);
  color: #fff;
  min-height: 32px;
  padding: 10px 10px;

  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--text-medium);
    font-weight: 600;
  word-spacing: 0.2em;
  
  cursor: pointer;
}

.content {
  background-color: var(--tertiary-background-color);
  padding: 20px 10px;
}
