.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 520px;
  width: 100%;
  word-spacing: 0.2em;
  row-gap: 52px;
}

.emphasis1 {
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 600;
}

.emphasis2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
  color: #0055a2;
}

.buttonList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.greetingFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  row-gap: 52px;
  flex-wrap: wrap-reverse;
}

.videoBtn {
  display: flex;
}