.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  column-gap: 10px;
  background: white;
  color: black;
  min-width: 32px;
  min-height: 32px;
  
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--text-xlarge);
    font-weight: 600;
  word-spacing: 0.2em;
  
  cursor: pointer;
}