.banner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  align-items: center;
  text-align: center;
  background-color: wheat;
  box-sizing: border-box;
  padding: 12px 1.25em;
  line-height: 2;
}

.banner a, 
.banner a:link, 
.banner a:active {
  color: currentColor;
  text-decoration: none;
  padding: 0px 12px;
  border: 1.5px solid currentColor;
  font-weight: 600;
  word-spacing: 0.1em;
  text-transform: uppercase;
  white-space: nowrap;
}