.button {
  justify-content: center;
  background: black;  
  cursor: pointer;
  height: 225px;
  width: 400px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 540px) {
  .button {
    height: 168px;
    width: 300px;
  }
}

.video {
  pointer-events: none;  

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button img {
  width: 64px;
  height: 64px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gradientOverlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.playIcon {
  z-index: 1;
}