.container
{
  display: flex;  
  flex-direction: column;
  justify-content: center;
  min-height: 480px;
  width: 100%;
  word-spacing: 0.2em;
  row-gap: 32px;
}

.emphasis1
{
  font-size: var(--text-6xlarge);
  line-height: var(--text-6xlarge-line-height);
  font-weight: 600;
}

.emphasis2
{
  font-size: var(--text-2xlarge);
  line-height: var(--text-2xlarge-line-height);
  font-weight: 600;
  color: var(--header-color);
}

.emphasis3
{
  font-size: var(--text-3xlarge);
  line-height: var(--text-3xlarge-line-height);
  font-weight: 600;
  text-transform: uppercase;
}