.largeImage {
  width: 100%;
}

th {
  text-align: left;
  text-transform: uppercase;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

table {
  border-collapse: collapse;
  width: 100%;
}