body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Rise and lower animation for links upon hover */
@keyframes rise {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.3));
  }
  100% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.15));
  }
}

@keyframes lower {
  0% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.15));
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.3));
  }
}

a:hover {
  animation: ease-in-out rise 0.15s forwards;
}

a:not(:hover) {
  animation: ease-out lower 0.15s forwards;
}

/* Change color of headings */
h1, h2, h3, h4, h5, h6 {
  color: #0055a2;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.svg {
  filter: invert()
}

.top {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
}