body 
{
    background-color: #0074f9;
}

*
{
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}
.navbar{
    background: #191D88; font-family: Poppins; padding-right: 15px;padding-left: 15px;
}
.navdiv{
    display: flex; align-items: center; justify-content: space-between;
}
.logo a{
    font-size: 47px; font-weight: 600; color: white;
}
li{
    list-style: none; display: inline-block;
}
li a{
    color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
}

@media (max-width: 600px)
{
    section 
{
  -webkit-flex-direction: column;
  flex-direction: column;
}

}